---
---

@import "code_monokai";

body {
    background: url("/img/bg.jpg") repeat;
    /*background: url("http://myblogres.55c421a454b7c.d01.nanoyun.com/img/bg.jpg") repeat;*/
    font-family: Arial, "Times New Roman", "Comic Sans MS", "宋体", "微软雅黑";
}

p {
    text-indent: 2em;
    margin-top: 18px;
    margin-bottom: 9px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

.text-en {
    color: #75A377;
    padding: 0px 3px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

a .text-en {
    color: #AB93B2;
}

a .text-en:hover {
    color: #D3AFDD;
}

.footnote {
    margin: 0px;
}

a {
    color: #E49F9F;
}

.MathJax .mb { color: inherit }
.MathJax .mf { color: inherit }
.MathJax .mh { color: inherit }
.MathJax .mi { color: inherit }
.MathJax .mo { color: inherit }

#content_wrapper {
    width: 100%;
    min-width: 960px;
}

#main_content {
    width: 80%;
    float: left;
    padding-top: 0px;
    max-width: 1079px;
}

#side_content {
    width: 20%;
    float: right;
    padding-top: 5px;
}

#main_header {
    text-align: center;
    height: 240px;
    overflow: hidden;
    /*background: url("/img/header_junjou_romantica_nobg.png");*/
    /*background: url("http://myblogres.55c421a454b7c.d01.nanoyun.com/img/header_junjou_romantica_nobg.png");*/
    margin: 0px 20px;
}

.lineno {
    color: #fff;
    font-size: 12px;
    margin: 3px;
}

#side_name {
    font-size: 30px;
    font-family: "楷体", "宋体";
    float: right;
    color: #35B32C;
    margin-top: 20px;
    margin-right: 10px;
}

#side_header {
    margin-top: 80px;
}

#side_nav {
    float: right;
    width: 90px;
}

#side_nav ul li {
}

#side_nav ul li a {
    text-decoration: none;
    float: right;
    padding: 5px 10px;
    border-left: 4px solid #22AEC7;
    border-top: 1px dashed #22AEC7;
    border-bottom: 1px dashed #22AEC7;
    color: #22AEC7;
    margin: 10px 0px;
    min-width: 70px;
}

#side_nav ul li a:hover {
    min-width: 80px;
}
