body {
background: url("../img/body_bg.jpg") no-repeat, rgba(200, 200, 200, 0.7);
background-size: cover;
}

#content-wrapper {
background: rgba(100, 200, 200, 0.7);
width: 70%;
min-width: 640px;
float: left;
}

#nav-wrapper {
background: rgba(20, 100, 100, 0.6);
float: left;
width: 25%;
height: 197px;
overflow: hidden;
margin: 5px 5px;
}

#nav-cover {
display: inline-block;
width: 125px;
height: 177px;
position: relative;
left: 50%;
top: 0%;
margin-left: 0px;
margin-top: 10px;
}

#nav-items {
display: none;
list-style: none;
width: 115px;
height: 167px;
position: relative;
left: 50%;
top: 0%;
margin-left: 0px;
margin-top: 10px;
background: rgba(100, 200, 200, 0.5);
padding: 5px;
}

#nav-items li {
margin: 3px 6px;
padding: 3px 3px;
width: 98px;
background: #eee;
}

#nav-items li a {
text-decoration: none;
color: black;
font-size: 1.3em;
}

#nav-items li a:hover {
text-decoration: underline;
}

#nav-items li:hover {
background: rgba(200, 100, 100, 0.5);
}

#nav-items li span {
display: none;
}

#nav-items li:hover span {
display: inline-block;
}


#copyright {
clear: both;
margin: auto;
}
