@font-face {
    font-family: "/font/SFArchRivalExtendedRegular";
    src: url("/font/SF_Arch_Rival_Extended-webfont.eot");
    src: url("/font/SF_Arch_Rival_Extended-webfont.eot?#iefix") format("embedded-opentype"),
         url("/font/SF_Arch_Rival_Extended-webfont.woff") format("woff"),
         url("/font/SF_Arch_Rival_Extended-webfont.ttf") format("truetype"),
         url("/font/SF_Arch_Rival_Extended-webfont.svg#SFArchRivalExtendedRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}