#page_header {
	background: black;
	width: 100%;
	height: 100px;
}

#quotes {
	list-style: none;
}

#quotes li {
	font-family: Reenie Beanie, Comic Sans MS, Times New Roman, sans-serif, 华文行楷, 微软雅黑;
}

#page_board {
	float: left;
	min-width: 512px;
}

#page_bar {
	float: left;
	min-width: 128px;
}
