---
---

.text-en {
    color: #75A377;
    padding: 0px 3px;
}

.text-sep {
    padding: 0px 3px;
}

#post {
    margin: 50px 20px 20px 20px;
    font-size: 15px;
    line-height: 22px;
    color: #A39F94;
}

#post a {
    color: #AB93B2;
    text-decoration: none;
    border-bottom: 1px dashed #AB93B2;
}

#post a:hover {
    color: #D3AFDD;
}

#post p {
    margin-top: 9px;
}

#post header {
    text-align: center;
    margin-bottom: 30px;
}

#post header h1 > a {
    font-size: 25px;
    text-decoration: none;
    color: #4BAFD3;
    font-weight: bold;
}

#post header p {
    text-indent: 0em;
}

code {
    color: #71A6C2;
    padding: 0px 3px;
    font-family: Courier New, Consolas;
    font-size: 13px;
}