---
---

h3 {
    margin: 20px 0px 5px 0px;
    color: #fff;
}

.text-sep {
    padding: 0px 3px;
}

.math-inline, .math-block {
    color: #CFD3BD;
    padding: 0px 3px;
}

.math-block {
    display: block;
    margin-bottom: -25px;
}

.para_header {
    margin-right: 15px;
    color: #eee;
}

#post {
    margin: 50px 20px 20px 20px;
    font-size: 15px;
    line-height: 22px;
    color: #A39F94;
}

#post a {
    color: #AB93B2;
    text-decoration: none;
    border-bottom: 1px dashed #AB93B2;
}

#post a:hover {
    color: #D3AFDD;
}

#post a code:hover {
    color: #84CCF2;
}

#post p {
    /*margin-top: 9px;*/
}

#post header {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Times New Roman", "Comic Sans MS", "宋体";
}

#post header h1 > a {
    font-size: 28px;
    text-decoration: none;
    color: #4BAFD3;
    font-weight: bold;
    border-bottom: 0px;
}

#post header h1 > a:hover {
    color: #49DEF9;
}

#post header p {
    text-align: left;
}

#post header p, p.noindent {
    text-indent: 0em;
}

#post header ul.tag_list {
    overflow: hidden;
    margin: 20px 0px;
    padding: 5px 0px;
}

#post header ul.tag_list > li {
    float: left;
}

#post header ul.tag_list > li a.first_category {
    background: #3D8C10;
    color: #fff;
    border: 0px;
    position: relative;
    padding-right: 20px;
}

#post header ul.tag_list > li a.first_category:hover {
    background: #444F4F;
    color: #fff;
}

#post header ul.tag_list > li a.first_category:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 11px solid #000;
    border-left: 11px solid #3D8C10;
    width: 0;
}

#post header ul.tag_list > li a.first_category:after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 11px solid #000;
    border-left: 11px solid #3D8C10;
    width: 0;
}

#post header ul.tag_list > li {
    display: inline-block;
    margin-right: 10px;
}

#post header ul.tag_list > li > a {
    text-decoration: none;
    border: 1px solid #abc;
    padding: 3px 5px;
    color: #E49F9F;
}

#post header ul.tag_list > li > a:hover {
    background: #444F4F;
    color: #F45F8F;
}

#post header #header_comment_count {
    float: right;
}

#post header #header_comment_count a {
    color: #A9AF2B;
}

#post header #header_comment_count a:hover {
    color: #C7CE39;
}

p.noindent {
    margin-top: 9px;
}

pre {
    margin: 9px 4em;
    text-indent: 0em;
    line-height: 15px;
}

code {
    color: #71A6C2;
    font-family: Courier New, Consolas;
    font-size: 14px;
}

#post_content li pre {
    margin-left: 2em;
}

#post_content li pre code {
    padding: 0px;
}

#post_content p code, #post_content li code {
    padding: 0px 3px;
}

#post_content {
    margin-bottom: 40px;
}

#post_content p.content_excerpt {
    width: 65%;
    padding: 10px 3px;
    margin: 40px auto;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #CFCABD;
}

#post_content ol {
    list-style: decimal;
}

#post_content ol {
    counter-reset: my_ol_counter;
}

#post_content ol > li {
    list-style: none;
    position: relative;
}

#post_content ol > li:before {
    counter-increment: my_ol_counter;
    content: counter(my_ol_counter, decimal) ") ";
    position: absolute;
    left: -1.4em;
}

#post_content ul {
    list-style: disc;
}

#post_content ul, #post_content ol {
    margin: 7px 5em;
    /*color: #A6A361;*/
    font-size: 1em;
}

#post_content ul ul, #post_content ol ul {
    font-size: 1em;
    /*color: #A39FA7;*/
    list-style-type: circle;
    margin-left: 3em;
}

#post_content ol ol {
    font-size: 1em;
    list-style: decimal;
    margin-left: 2em;
}

#post_content h2 {
    font-size: 20px;
    margin: 40px 0px 10px 0px;
    font-family: "Times New Roman", "Comic Sans MS", "宋体";
    color: #fff;
    border-left: 5px solid #507A84;
    padding: 4px 5px;
}

#post_content p.footnote {
    margin-top: 0px;
    line-height: 1.1em;
}

#post_content p.footnote a sup {
    vertical-align: super;
    font-size: smaller;
    padding: 0px 3px;
}

#post_content sup.footnote {
    vertical-align: 2px;
    font-size: 11px;
}

#post_content sup.footnote a::before {
    content: "[";
}

#post_content sup.footnote a::after {
    content: "]";
}

#post_content sup.footnote a, #post_content p.footnote a:first-child {
    color: #fff;
    border-bottom: 0px;
}

#post_content sup.footnote a:hover {
    color: #58C251;
}

#post_content p.footnote a {
    border: 0px;
}

#post_content p.footnote {
    color: #B3ADAD;
    text-indent: 0em;
    font-size: 0.85em;
}

#post_content p.footnote .text-en {
    /*font-size: 1.2em;*/
}

#post_content p.footnote code {
    font-size: 1em;
}

#post_content p#fn1 {
    margin-top: 40px;
}

#post_content p strong {
    padding: 0px 3px;
    color: #D88989;
}

#post_content p em::before {
    content: "“";
    font-family: "微软雅黑";
    margin-left: -5px;
}

#post_content p em::after {
    content: "”";
    font-family: "微软雅黑";
    margin-right: -5px;
}

#post_content blockquote {
    margin: 9px 4em;
    border: 2px solid #382F1B;
    padding: 5px;
}

#post_content blockquote p {
    margin: 0px;
}

#post_content blockquote.noindent {
    text-indent: 0em;
}

#post > footer {
    overflow: hidden;
}

#side_content {
    overflow: hidden;
}

#post_side_img {
    position: absolute;
    z-index: -1;
}

#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 50px;
}

#back-top a {
  display: block;
  background: #166C8A;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

#back-top a:hover {
  background-color: #5F6B6F;
}