---
layout: html5_base
title: 分类目录
---

<div id="main_content">
    <header id="main_header">
    </header>

    <div id="category_list">
        <ul>
        {% assign categories_list = site.categories | sort %}
        {% for category in categories_list %}
            <li>
                <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
                    {{ category[0] | join: "/" }}
                </a>
                <sup>{{ category[1].size }}</sup>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div id="category_post_list">
    {% for category in categories_list %}
        <section class="post_list">
          <h3 class="category_name" id="{{ category[0] }}-ref">{{ category[0] }}</h3>

          <ol>
            {% assign pages_list = category[1] %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if group == null or group == node.group %}
                    <li>
                        <a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a>
                        <span class="post_date">{{ node.date | date: "%Y-%m-%d" }}</span>
                    </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ol>
      </section>
    {% endfor %}
    </div>
</div>

<div id="side_content">
    <div id="side_name">
        {{ site.data.blog_info.name }}
    </div>

    <header id="side_header">
        <nav id="side_nav">
            <ul>
                {% for item in site.data.nav_items %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
</div>

<link rel="stylesheet" href="/css/categories.css" />