<!DOCTYPE HTML>

<html>

<head>
	<meta charset="utf-8" />

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

	<link rel="stylesheet" href="css/default.css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Reenie+Beanie" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>	
	<div id="content-wrapper">
		{{ content }}
	</div>
	
	<div id="nav-wrapper">
		<img id="nav-cover" src="../img/nav_cover.jpg" />
		<ul>
			<li><a href="index/dashboard">Dashboard</a><br><span>What's new recently.</span></li>
			<li><a href="index/misc">MISC等</a><br><span>Some other things.</span></li>
		</ul>
	</div>

	<footer id="copyright">
		{% for line in site.copyright %}
			<p>{{ line }}</p>
		{% endfor %}
	</footer>

	<script src="../js/default.js"></script>
</body>

</html>
