<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description }}" />

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

	<link rel="stylesheet" href="/css/default.css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Reenie+Beanie" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<img id="tsuna" src="/img/tsuna.png" />

	<nav id="site-nav">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/index/notes.html">笔记</a></li>
			<li><a href="/index/box.html">储物间</a></li>
			<li><a href="/index/news.html">黑板报</a></li>
			<li><a href="/index/bookmarks.html">一点痕迹</a></li>
			<li><a href="/index/private.html">灵境</a></li>
		</ul>
	</nav>

	<div id="content-wrapper">
		{{ content }}
	</div>

	<!--
	<div id="copyright">
		{% for line in site.copyright %}
			<p>{{ line }}</p>
		{% endfor %}
	</div>
	-->

	<script src="/js/default.js"></script>
</body>

</html>
