---
layout: default
---

<link rel="stylesheet" href="css/index.css" />

<header id="page_header">
	<ul id="quotes">
		<li>Life is like a box of chocolate.</li>
		<li>The best prize that life can offer...</li>
	</ul>
</header>

<section id="page_board">
	{{ content }}
</section>

<aside id="page_bar">
	<section id="microblogs">
		<article>
			<header></header>
			测试This is a post.
			<footer></footer>
		</article>
		<article>
			<header></header>
			This is another post.
			<footer></footer>
		</article>
	</section>

	<section id="links">
		<ul>
			<li><a href="">test1</a></li>
			<li><a href="">test2</a></li>
		</ul>
	</section>
</aside>
