---
layout: html5_base
---

<div id="main_content">
    <header id="main_header">
    </header>

    <article id="post">
        <header>
            <h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
            <p>创建时间：{{ page.date | date:"%Y-%m-%d" }}，最后更新：{{ page.date_updated }}<span id="header_comment_count"><a href="{{ page.url }}#disqus_thread"></a></span></p>
            
            <ul class="tag_list">
                <li><a class="first_category" href="/categories.html#{{ page.categories[0] }}-ref">{{ page.categories[0] }}</a></li>
                {% for tag in page.tags %}
                <li><a href="/tags.html#{{ tag }}-ref">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </header>

        <div id="post_content">
            {{ content }}
        </div>

        <footer>
            <hr />
            <!----------------------------------------------------------->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'iimatto';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            <!----------------------------------------------------------->
        </footer>
    </article>
</div>

<div id="side_content">
    <div id="side_name">
        {{ site.data.blog_info.name }}
    </div>

    <header id="side_header">
        <nav id="side_nav">
            <ul>
                {% for item in site.data.nav_items %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    {% assign image_info = site.data.post_side_img[page.path] %}
    <img id="post_side_img" src="{{ image_info.image }}" style="top: {{ image_info.top }}; right: {{ image_info.right }}; width: {{ image_info.width }}"></img>
</div>

<link rel="stylesheet" href="/css/post.css" />

<!----------------------------------------------------------->
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'iimatto'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<!----------------------------------------------------------->